<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>RhythmTap</title>
    <!-- JS libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.9.1/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.31/system.js"></script>
    <!-- SystemJS bootstrap script -->
    <script>
    //SystemJS configuration
    System.config({
        map: {
            jquery: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js",
            vue: "https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js",
            two: "https://cdnjs.cloudflare.com/ajax/libs/two.js/0.6.0/two.min.js",
            db: "https://cdn.rawgit.com/aaronpowell/db.js/master/dist/db.min.js",
            rt: "assets"
        },
        packages: {
            rt: {
                main: "index.js",
                defaultExtension: "js"
            }
        }
    });
    //Bootstrap
    System.import("rt");
    </script>
    <!-- CSS libraries -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Styles -->
    <link href="assets/index.css" rel="stylesheet" />
</head>
<body @dragover.prevent>
    <!-- Translucent layer -->
    <div id="rt-translucent-layer"></div>
    <!-- Loading interface -->
    <div id="rt-loading" class="rt-scene rt-loading">Loading...</div>
    <!-- Top banner -->
    <div id="rt-top-banner" class="rt-scene rt-loading">
        <!-- Game status region -->
        <div id="rt-game-status">
            <div id="rt-current-time" class="rt-status-cell">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                {{status.current_time | rt-date-time}}
            </div>
            <div id="rt-uptime" class="rt-status-cell">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                {{status.uptime | rt-time}}
            </div>
            <div id="rt-total-beatmaps" class="rt-status-cell">
                <i class="fa fa-map" aria-hidden="true"></i>
                {{beatmaps.length}}
            </div>
            <div id="rt-played-beatmaps" class="rt-status-cell">
                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                {{status.played_beatmaps}}
            </div>
        </div>
        <!-- Player -->
        <div id="rt-player">
            <!-- Song & artist -->
            <i class="fa fa-music" aria-hidden="true"></i> {{current_beatmap.artist}} - {{current_beatmap.song}}<br />
            <!-- Song progress bar -->
            <progress id="rt-player-progress" value="0" max="1"></progress><br />
            <!-- Player control buttons -->
            <i class="fa fa-step-backward" aria-hidden="true"></i>&nbsp;&nbsp;
            <a href="javascript:void(0);" @click="play_pause_audio()"><i class="fa" :class="{'fa-play': !player.playing, 'fa-pause': player.playing}" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <i class="fa fa-step-forward" aria-hidden="true"></i>&nbsp;&nbsp;
            <a href="javascript:void(0)" @click="show_hide_volume()"><i class="fa fa-volume-up" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <progress id="rt-player-volume" value="1" max="1" v-show="player.show_volume" @click="set_volume($event)"></progress>
        </div>
    </div>
    <!-- Main panel -->
    <div id="rt-main-panel" class="rt-scene rt-loading">
        <!-- Main menu -->
        <div id="rt-main-menu">
            <div id="rt-main-title">RhythmTap</div>
            <a class="rt-main-btn" id="rt-main-play" href="javascript:void(0);" @click="set_scene('rt-main-panel')">
                <i class="fa fa-play" aria-hidden="true"></i> Play
            </a>
            <a class="rt-main-btn" id="rt-main-edit" href="javascript:void(0);">
                <i class="fa fa-edit" aria-hidden="true"></i> Edit
            </a>
            <a class="rt-main-btn" id="rt-main-settings" href="javascript:void(0);">
                <i class="fa fa-sliders" aria-hidden="true"></i> Settings
            </a>
        </div>
        <!-- Beatmap list region -->
        <div id="rt-beatmap-list" @dragenter.prevent="__show_import_beatmap()">
            <!-- Title -->
            <div class="rt-section-title">All Beatmaps</div>
            <hr />
            <!-- Lists -->
            <div class="rt-beatmap-item" v-for="beatmap in beatmaps">
                <div class="rt-beatmap-item-main" @click="set_current_beatmap($index)" :style="{'background-color': beatmap.__color}">
                    <div class="rt-beatmap-item-title">{{beatmap.song}}</div>
                    <div class="rt-beatmap-item-info">
                        {{beatmap.difficulties.length}} Difficulties
                    </div>
                </div>
                <!-- Difficulties -->
                <div class="rt-beatmap-item-difficulty" v-for="difficulty in current_beatmap.difficulties" v-if="current_beatmap==beatmap" @click="set_difficulty(difficulty)" :style="{'background-color': beatmap.__color}">
                    <div class="rt-beatmap-item-title">{{difficulty}}</div>
                </div>
            </div>
        </div>
        <!-- Import beatmap -->
        <div id="rt-import-beatmap" @dragleave.prevent="__hide_import_beatmap()" @drop.prevent="__import_beatmap($event)">
            <div id="rt-import-beatmap-title">Drag Beatmap Here</div>
        </div>
        <!-- Beatmap information -->
        <div id="rt-beatmap-info">
            <!-- Play -->
            <div id="rt-beatmap-play" class="rt-info-panel" @click="begin_gameplay()">
                <i class="fa fa-play"></i> Play
            </div>
            <!-- Beatmap detail -->
            <div id="rt-beatmap-detail" class="rt-info-panel">
                <div class="rt-section-title">Details</div>
            </div>
            <!-- Highscores -->
            <div id="rt-beatmap-highscores" class="rt-info-panel">
                <div class="rt-section-title">Highscores</div>
                <table>
                    <thead>
                        <th width="20%"><b>#</b></th>
                        <th width="40%"><b>Score</b></th>
                        <th width="40%"><b>Combo</b></th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- About panel -->
    <div id="rt-about">
        &copy; 2016 Qifan Lu. All right reserved.<br />
        Published under GNU GPLv3.
    </div>
    <!-- Game area -->
    <div id="rt-game" class="rt-scene">
        <!-- Game assets -->
        <div id="rt-game-assets">
            <!-- Game progress bar -->
            <div id="rt-game-progress-background"></div>
            <div id="rt-game-progress-foreground"></div>
            <!-- HP bar -->
            <div id="rt-game-hp-background"></div>
            <div id="rt-game-hp-foreground"></div>
            <!-- Score & accuracy -->
            <div id="rt-game-stat">
                <div id="rt-game-score">{{gameplay.score | rt-score}}</div>
                <div id="rt-game-accuracy">{{gameplay.accuracy | rt-accuracy}}</div>
            </div>
            <!-- Combo -->
            <div id="rt-game-combo">{{gameplay.combo}}x</div>
            <!-- Point gained -->
            <div id="rt-game-point-gained"></div>
            <!-- Game result -->
            <div id="rt-game-result-bg"></div>
            <div id="rt-game-result-fg">
                <div id="rt-game-result-title"></div>
                <table>
                    <!-- Score -->
                    <tr>
                        <td>Score</td>
                        <td class="rt-game-result-stat">{{gameplay.score}}</td>
                        <td rowspan="7" id="rt-game-result-ranking-cell">
                            Ranking
                            <div id="rt-game-result-ranking"></div>
                        </td>
                    </tr>
                    <!-- Accuracy -->
                    <tr>
                        <td>Accuracy</td>
                        <td class="rt-game-result-stat">{{gameplay.accuracy | rt-accuracy}}</td>
                    </tr>
                    <!-- Combo -->
                    <tr>
                        <td>Combo</td>
                        <td class="rt-game-result-stat">{{gameplay.combo}}</td>
                    </tr>
                    <!-- 300 -->
                    <tr>
                        <td>300</td>
                        <td class="rt-game-result-stat">{{gameplay.stat_300}}</td>
                    </tr>
                    <!-- 100 -->
                    <tr>
                        <td>100</td>
                        <td class="rt-game-result-stat">{{gameplay.stat_100}}</td>
                    </tr>
                    <!-- 50 -->
                    <tr>
                        <td>50</td>
                        <td class="rt-game-result-stat">{{gameplay.stat_50}}</td>
                    </tr>
                    <!-- Miss -->
                    <tr>
                        <td>Miss</td>
                        <td class="rt-game-result-stat">{{gameplay.stat_0}}</td>
                    </tr>
                </table>
                <!-- Back to menu -->
                <button id="rt-game-result-back">
                    <i class="fa fa-caret-square-o-left" aria-hidden="true"></i>
                    Back
                </button>
            </div>
        </div>
        <!-- Game play area -->
        <div id="rt-gameplay"></div>
        <!-- Game prompts -->
        <div id="rt-game-prompt">{{gameplay.prompt}}</div>
    </div>
</body>
</html>
