/* Segoe UI font */
@font-face
{   font-family: segoe-ui;
    src: url(../res/segoe-ui.woff);
}

/* Universal styles */
*
{   font-family: segoe-ui;
    font-weight: 200;
    color: white;
    transition: 1s;
}

/* Window size */
html
{   height: 100%;
}

/* Body */
body
{   height: 100%;
    background-image: url(../res/bg.jpg);
    margin: 0;
}

/* Progress bar (Background color) */
progress
{   background-color: darkgrey;
    color: white;
    height: 0.25rem;
    vertical-align: middle;
}

/* Progress bar (Foreground color) */
progress::-webkit-progress-value
{   background-color: white;
}

/* Loading interface (Loading) */
#rt-loading.rt-loading
{   display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.5rem;
    transform: translate(-50%, -50%);
}

/* Loading interface (Other situation) */
#rt-loading
{   display: none;
}

/* Translucent layer */
#rt-translucent-layer
{   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: black;
}

/* About area */
#rt-about
{   position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 0.75rem;
}

/* Horizontal rule */
hr
{   border-style: solid;
    margin: 0.75rem 0;
}

/* Top banner (loading & game play) */
#rt-top-banner.rt-loading, #rt-top-banner.rt-game
{   display: none;
}

/* Top banner */
#rt-top-banner
{   position: absolute;
    width: 100%;
}

/* Game status region */
#rt-game-status
{   position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 30.2rem;
    height: 4.2rem;
}

/* Status cell */
.rt-status-cell
{   box-sizing: border-box;
    width: 15rem;
    height: 2rem;
    padding: 0.3rem;
}

/* Current time */
#rt-current-time
{   position: absolute;
    top: 0;
    left: 0;
    background-color: green;
}

/* Uptime */
#rt-uptime
{   position: absolute;
    top: 0;
    right: 0;
    background-color: blue;
}

/* Total beatmaps */
#rt-total-beatmaps
{   position: absolute;
    bottom: 0;
    left: 0;
    background-color: purple;
}

/* Played beatmaps */
#rt-played-beatmaps
{   position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
}

/* Media player */
#rt-player
{   position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    text-align: right;
}

/* Volume progress bar */
#rt-player-volume
{   width: 5rem;
}

/* Main panel (Loading / Playing) */
#rt-main-panel.loading, #rt-main-panel.playing
{   display: none;
}

/* Main panel (Other situations) */
#rt-main-panel
{   display: block;
    width: 100%;
    position: absolute;
    top: 5.2rem;
    bottom: 0.5rem;
}

/* Main menu (Welcome screen) */
.rt-welcome #rt-main-menu
{   display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15rem;
    transform: translate(-50%, -50%);
}

/* Main menu (Main panel) */
.rt-main-panel #rt-main-menu
{   display: block;
    position: absolute;
    left: 0.5rem;
    width: 12rem;
}

/* Main menu (Other situations) */
#rt-main-menu
{   display: none;
}

/* Title (Welcome screen) */
.rt-welcome #rt-main-title
{   font-size: 2.5rem;
    text-align: center;
}

/* Title (Other situations) */
#rt-main-title
{   font-size: 2rem;
    margin-bottom: 0.8rem;
}

/* Main menu button */
.rt-main-btn
{   display: block;
    margin: 0.4rem 0;
    padding: 0.75rem;
    font-size: 1.25rem;
    text-decoration: none;
}

/* Play button (active) */
#rt-main-play:hover, #rt-main-play:active, #rt-main-play.active
{   background-color: green;
}

/* Edit button (active) */
#rt-main-edit:hover, #rt-main-edit:active, #rt-main-edit.active
{   background-color: blue;
}

/* Settings button (active) */
#rt-main-settings:hover, #rt-main-settings:active, #rt-main-settings.active
{   background-color: purple;
}

/* Beatmap list (Main panel) */
.rt-main-panel #rt-beatmap-list
{   display: block;
    position: absolute;
    left: 13rem;
    right: 19rem;
    height: 100%;
    overflow-y: auto;
}

/* Beatmap list (Other situations) */
#rt-beatmap-list
{   display: none;
}

/* Import beatmap */
#rt-import-beatmap
{   display: none;
    position: absolute;
    left: 13rem;
    right: 19rem;
    height: 100%;
    z-index: 2;
    background-color: darkgrey;
}

/* Import beatmap title */
#rt-import-beatmap-title
{   font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    text-align: center;
}

/* Beatmap information (Other situation) */
#rt-beatmap-info
{   display: none;
}

/* Beatmap information (In main panel) */
.rt-main-panel #rt-beatmap-info
{   display: block;
    position: absolute;
    right: 0.5rem;
    width: 18rem;
    height: 100%;
    overflow-y: auto;
}

/* Section title */
.rt-section-title
{   font-size: 1.75rem;
}

/* Beatmap information panel */
.rt-info-panel
{   padding: 0.5rem;
    margin: 0.5rem 0;
}

/* Highscores */
#rt-beatmap-highscores
{   background-color: brown;
}

/* Highscore table */
#rt-beatmap-highscores table
{   margin-top: 0.5rem;
}

/* Hignscore table cells */
#rt-beatmap-highscores th, #rt-beatmap-highscores td
{   text-align: left;
}

/* Beatmap details */
#rt-beatmap-detail
{   background-color: blue;
}

/* Play button */
#rt-beatmap-play
{   background-color: green;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Beatmap list item */
.rt-beatmap-item
{   margin: 0.5rem 0;
}

/* Beatmap list item (Main item) */
.rt-beatmap-item-main
{   background-color: green;
    padding: 0.5rem;
    cursor: pointer;
}

/* Beatmap difficulty */
.rt-beatmap-item-difficulty
{   padding: 0.5rem;
    margin: 0.5rem 0 0.5rem 1rem;
    background-color: green;
    cursor: pointer;
}

/* Beatmap item title */
.rt-beatmap-item-title
{   font-size: 1.5rem;
}

/* Beatmap item information */
.rt-beatmap-item-info
{   margin-top: 0.25rem;
}

/* Game area (Other modes) */
#rt-game
{   display: none;
}

/* Game area (Gameplay) */
#rt-game.rt-game
{   display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Game assets area */
#rt-game-assets
{   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* Gameplay area */
#rt-gameplay
{   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Game progress bar (Background) */
#rt-game-progress-background
{   position: absolute;
    top: 0;
    left: 0;
    height: 0.5rem;
    width: 100%;
    opacity: 0.4;
    background-color: darkgrey;
}

/* Game progress bar (Foreground) */
#rt-game-progress-foreground
{   position: absolute;
    top: 0;
    left: 0;
    height: 0.5rem;
    width: 0;
    background-color: white;
    z-index: 3;
}

/* HP bar (Background) */
#rt-game-hp-background
{   position: absolute;
    top: 1.5rem;
    left: 1rem;
    height: 1rem;
    width: 40%;
    display: block;
    opacity: 0.4;
    background-color: darkgrey;
}

/* HP bar (Foreground) */
#rt-game-hp-foreground
{   position: absolute;
    top: 1.5rem;
    left: 1rem;
    height: 1rem;
    display: block;
    background-color: green;
    opacity: 0.6;
    z-index: 3;
}

/* Game information */
#rt-game-stat
{   position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: right;
}

/* Game score */
#rt-game-score
{   font-size: 2rem;
}

/* Game accuracy */
#rt-game-accuracy
{   font-size: 1.25rem;
}

/* Game combo */
#rt-game-combo
{   position: absolute;
    bottom: 3rem;
    left: 1rem;
    font-size: 2rem;
}

/* Point gained */
#rt-game-point-gained
{   display: none;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 20%;
    font-size: 3rem;
    text-align: center;
}

/* Game result (Background) */
#rt-game-result-bg
{   display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 22rem;
    transform: translate(-50%, -50%);
    opacity: 0.6;
}

/* Game result (Foreground) */
#rt-game-result-fg
{   display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 22rem;
    padding: 0.5rem;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    z-index: 3;
}

/* Game statistics */
#rt-game-result-fg table
{   width: 100%;
    font-size: 1.25rem;
}

/* Game statistics data */
.rt-game-result-stat
{   text-align: right;
}

/* Game result title */
#rt-game-result-title
{   text-align: center;
    font-size: 3rem;
}

/* Back to menu */
#rt-game-result-back
{   width: 100%;
    border: none;
    padding: 0.5rem;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

/* Game result ranking cell */
#rt-game-result-ranking-cell
{   display: none;
    padding-left: 0.5rem;
    vertical-align: top;
    width: 40%;
}

/* Game result ranking */
#rt-game-result-ranking
{   font-size: 8rem;
    text-align: center;
}
